.po__menu__container{
    display: flex;
    flex-direction: row;
}

.po__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.po__menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.po__menu__link:hover {
    filter: drop-shadow(1px 1px 0 var(--color-primary));
}

.po__menu__link:hover svg {
    filter: drop-shadow(1px 1px 0 var(--color-primary));
}

.po__menu__link span {
    font-weight: 700;
    color: var(--color-primary);
}
