.po__clock__content{
    font-size: clamp(8rem, 25vw, 16rem);
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    user-select: none;
}

/* Responsive */
@media (max-width: 600px) {
    .po__clock__content {
        font-size: clamp(4rem, 20vw, 8rem);
    }
}

@media (max-width: 400px) {
    .po__clock__content {
        font-size: clamp(3rem, 15vw, 6rem);
    }
}